<div class="row">
  <div class="col-sm-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>

<br />

<!--Left Menu / Conversation List-->
<div class="col-sm-12 section-wrap">

  <!--Header-->
  <div class="row header-wrap">
    <div class="chat-header col-sm-12">
      <h4 id="username">Friends</h4>
      <div class="header-button">
        <a class="btn pull-right" href="#Contacts" data-toggle="collapse">
          <i class="fa fa-pencil-square-o fa-lg"></i>
        </a>
      </div>
    </div>
  </div>

  <!--Conversations-->
  <div class="row content-wrap" *ngFor="let friend of friends">
    <div class="conversation btn">
      <div class="media-body">
        <h5 class="media-heading">{{ friend.name }}</h5>
        <small class="pull-right time">Last seen 12:10am</small>
      </div>
    </div>
  </div>
</div>
