<div class="row">
  <div class="col-sm-6">
    <form action="/login" method="get" (ngSubmit)="login(email.value, password.value)">
      <div class="form-group">
        <fieldset>
          <legend>Log In:</legend>
          <label for="name">Email: </label>
          <input type="email"
                 class="form-control"
                 #email
                 name="email"
                 value=""
                 placeholder="Email">
          <br />
          <label for="password">Password:</label>
          <input type="password"
                 class="form-control"
                 #password
                 name="password"
                 value=""
                 placeholder="Password">
          <br />
          <div class="row">
            <div class="col-sm-6">
              <button class="form-control btn btn-primary" type="submit">Log In</button>
            </div>
            <div class="col-sm-6">
              <button class="form-control btn btn-secondary">Sign Up</button>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </div>
</div>
