<div>
  <form action="/login" method="post">
    <fieldset>
      <legend>Log In:</legend>
      <label for="name">Username: </label>
      <input type="text"
             name="username"
             value="" 
             placeholder="Username">
      <br />
      <label for="password">Password:</label>
      <input type="password"
             name="password"
             value=""
             placeholder="Password">
      <br />
      <button type="submit">Submit</button>
    </fieldset>
  </form>
</div>
