<div class="col-sm-12 section-wrap">

  <!--Header-->
  <div class="row header-wrap">
    <div class="chat-header col-sm-12">
      <h4 id="username">Groups</h4>
      <div class="header-button">
        <a class="btn pull-right" href="#Contacts" data-toggle="collapse">
          <i class="fa fa-pencil-square-o fa-lg"></i>
        </a>
      </div>
    </div>
  </div>


<div class="row content-wrap" *ngFor="let group of groups">
  <div class="conversation btn">
    <div class="media-body">
      <h5 class="media-heading">{{ group.name }}</h5>
      <small class="pull-right time">Last seen 12:10am</small>
    </div>
  </div>
  <ul>
    <li *ngFor="let member of group.members">{{member.name}}</li>
  </ul>
</div>


</div>
